<a href="https://colab.research.google.com/github/TaeGongKim/Coding-Test/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4/kakao/2021%20Dev%20Matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 웹 백엔드 개발자 (상반기)
- https://programmers.co.kr/learn/challenges

## 로또의 최고 순위와 최저 순위

In [8]:
def solution(lottos, win_nums):
    ans = 0
    zero = 0
    for l in lottos:
        if l in win_nums:
            ans += 1
        elif l == 0:
            zero += 1
                
    grades = [6, 6, 5, 4, 3, 2, 1]
    answer = [grades[ans + zero], grades[ans]]
    return answer

In [9]:
lottos = [44, 1, 0, 0, 31, 25]
win_nums = [31, 10, 45, 1, 6, 19]
solution(lottos, win_nums)

## result : [3, 5]

[3, 5]

## 행렬 테두리 회전하하기

In [3]:
def solution(rows, columns, queries):
    array = [[0] * columns for _ in range(rows)]
    
    x = 1
    for i in range(rows):
        for j in range(columns):
            array[i][j] = x
            x += 1
            
    answer = []
    
    for x1, y1, x2, y2 in queries:
        tmp = array[x1-1][y1-1]
        mini = tmp
        
        # 왼쪽 시작
        for k in range(x1-1,x2-1):
            array[k][y1-1] = array[k+1][y1-1]
            mini = min(mini, array[k][y1-1])
            
        # 아래 시작
        for k in range(y1-1, y2-1):
            array[x2-1][k] = array[x2-1][k+1]
            mini = min(mini, array[x2-1][k])
            
        # 오른쪽 시작
        for k in range(x2-1, x1-1, -1):
            array[k][y2-1] = array[k-1][y2-1]
            mini = min(mini, array[k][y2-1])
            
        # 위쪽 시작
        for k in range(y2-1, y1-1, -1):
            array[x1-1][k] = array[x1-1][k-1]
            mini = min(mini, array[x1-1][k])
            
        array[x1-1][y1] = tmp
        answer.append(mini)
    
    return answer

In [4]:
rows, columns = 6, 6
queries = [[2,2,5,4],[3,3,6,6],[5,1,6,3]]
solution(rows, columns, queries)

## result : [8, 10, 25]

[8, 10, 25]

## 다단계 칫솔 판매

In [5]:
def solution(enroll, referral, seller, amount):
    graph = {}
    cost = {}
    for en, re in zip(enroll, referral):
        if re == '-':
            graph[en] = 'center'
        else:
            graph[en] = re
        cost[en] = 0
        
    for sell, am in zip(seller, amount):
        am = am * 100
        while True:
            if sell == 'center' or am == 0:
                break
            reminder = int(am * 0.1)
            cost[sell] += am - reminder
            am = reminder
            sell = graph[sell]
    answer = []
    for en in enroll:
        answer.append(cost[en])
    
    return answer

In [6]:
enroll = ["john", "mary", "edward", "sam", "emily", "jaimie", "tod", "young"]
referral = ["-", "-", "mary", "edward", "mary", "mary", "jaimie", "edward"]
seller = ["young", "john", "tod", "emily", "mary"]
amount = [12, 4, 2, 5, 10]
solution(enroll, referral, seller, amount)

## result : [360, 958, 108, 0, 450, 18, 180, 1080]

[360, 958, 108, 0, 450, 18, 180, 1080]

## 헤비 유저가 소유한 장소

MySQL Code  
- https://programmers.co.kr/learn/courses/30/lessons/77487
----

SELECT * FROM PLACES  
WHERE HOST_ID IN (  
    SELECT HOST_ID FROM PLACES  
    GROUP BY HOST_ID  
    HAVING COUNT(ID) >= 2  
)  
ORDER BY ID